services:
  app:
    build: 
      context: .
      dockerfile: app/Dockerfile
    env_file: 
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - frontend 
      - backend
    restart: unless-stopped
    mem_limit: 512m
  
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: tasksuser
      POSTGRES_PASSWORD: taskspass
      POSTGRES_DB: tasksdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - backend
    restart: unless-stopped
    mem_limit: 768m

  nginx:
    image: nginx:1.27
    ports:
      - "80:80"
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - frontend
    restart: unless-stopped
    mem_limit: 128m

  adminer:
    image: adminer
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend
    restart: unless-stopped
    mem_limit: 128m

  redis:
    image: redis:7-alpine
    networks:
      - backend
    restart: unless-stopped
    mem_limit: 256m

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - frontend
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    networks:
      - frontend
    volumes:
      - ./infra/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    restart: unless-stopped
  
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - frontend
    restart: unless-stopped
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  pgdata:
  grafana-data:

networks:
  frontend:
  backend: